@{
    ViewBag.Title = "loadDonors";
}

<h2>loadDonors</h2>


@{
    foreach (var s in Model)
    {

        <fieldset>
            <div>
                <table class="table">
                    <tr class="btn-danger"><th colspan="2">@s.name </th></tr>
                </table>
            </div>

            <div class="row">

                <div class="col-md-2" style="font-size: larger">

                    <b>
                        Address:<br />
                        Email:<br />
                        Contact No.:<br />
                        Blood Group:<br />
                        Gender:<br />
                        country:<br />
                        city:
                    </b>
                </div>
                <div class="col-md-6" style="font-size: larger">

                    @s.address<br />
                    @s.email<br>
                    @s.contactNo <br>
                    <b>@s.bloodGroup <br></b>
                    @s.gender <br>
                    @s.country <br>
                    @s.city


                </div>
            </div>
        </fieldset>


        <br><br><br>
    }
}